[client-server]
# Port or socket location where to connect
port = 3306
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory
[mariadbd]
skip-host-cache
skip-name-resolve
bind-address = 127.0.0.1
skip-grant-tables

!includedir /etc/mysql/mariadb.conf.d/
!includedir /etc/mysql/conf.d/

